/* src/components/ui/AnimatedTitle.css */

.animated-title-container svg {
  width: 100%;
  height: auto;
}

.animated-title-container text {
  font-family: "Cinzel", serif; 
  letter-spacing: 10px;
  text-transform: uppercase;
  stroke: #FFD700; 
  /* Pastikan ini ukuran standar */
  font-size: 60px; 
  font-weight: 700;
  stroke-width: 2;
  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #FF7800;
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: rgba(255, 120, 0, 0); 
  }
}