/* src/components/ui/SvgPagination.css */

.svg-pagination-container {
  /* DIHAPUS: 'width' dan 'max-width' dihapus agar kontainer fleksibel */
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Ini akan menjaga posisinya tetap di tengah */
}

.svg-pagination-container svg {
  width: auto; 
  height: 100%; 
}

#circleGroup, #joinLine {
  stroke: #FFD700;
}

#circleGroup circle {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}